{% extends "blog/index.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<form name="myForm" id="regForm" method="post">
<!-- One "tab" for each step in the form: -->
<div class="tab" id="form1">
  {{ form1.as_p }}
</div>

<div class="tab" id="form2">
  {{form2.as_p}}
</div>

<div class="tab" id="form3">
  {{form3.as_p}}
</div>

<div style="overflow:auto;">
  <div style="float:right;">
    <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
    <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
  </div>
</div>

<!-- Circles which indicates the steps of the form: -->
<div style="text-align:center;margin-top:40px;">
  <span class="step"></span>
  <span class="step"></span>
  <span class="step"></span>
</div>
</form>
<script src="{% static 'users/app.js' %}"></script>
{% endblock %}