{% extends "blog/index.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<div id="regForm">
<!-- One "tab" for each step in the form: -->
<form name="myForm" class="tab" id="form1" method="post">
  {% csrf_token %}
  {{ form1.as_p }}
</form>

<form class="tab" id="form2" method="post">
  {% csrf_token %}
  {{form2.as_p}}
</form>

<form class="tab" id="form3" method="post">
  {% csrf_token %}
  {{form3.as_p}}
</form>

<div style="overflow:auto;">
  <div style="float:right;">
    <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
    <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
  </div>
</div>

<!-- Circles which indicates the steps of the form: -->
<div style="text-align:center;margin-top:40px;">
  <span class="step"></span>
  <span class="step"></span>
  <span class="step"></span>
</div>
</div>
<script src="{% static 'users/app.js' %}"></script>
{% endblock %}